
<div class="form-group flexrow ">
    <div class="form-group flex-c4">
        <label>{{ localize "ARSDD.Quantity" }}</label>
        <input type="text" name="system.physicalItem.quantity" value="{{system.physicalItem.quantity}}" data-dtype="Number"/>
    </div>
    <div class="form-group flex-c4">
        <label>{{ localize "ARSDD.Weight" }}</label>
        <input type="text" name="system.physicalItem.weight" value="{{system.physicalItem.weight}}" data-dtype="Number"/>
    </div>
    <div class="form-group flex-c4">
        <label>{{ localize "ARSDD.Price" }}</label>
        <input type="text" name="system.physicalItem.price" value="{{system.physicalItem.price}}" data-dtype="Number"/>
    </div>
    <div class="form-group flex-c4"></div>
    <div class="form-group flex-c4">
        <label>{{ localize "ARSDD.Quality" }}</label>
        <input type="text" name="system.physicalItem.quality.total" value="{{system.physicalItem.quality.total}}" data-dtype="Number"  disabled/>
    </div>
    <div class="form-group flex-c4">
        <label>{{ localize "ARSDD.QualityCraft" }}</label>
        <input type="text" name="system.physicalItem.quality.craft" value="{{system.physicalItem.quality.craft}}" data-dtype="Number" />    
    </div>
    <div class="form-group flex-c4">
        <label>{{ localize "ARSDD.QualityMaterial" }}</label>
        <input type="text" name="system.physicalItem.quality.material" value="{{system.physicalItem.quality.material}}" data-dtype="Number"/>    
    </div>
    <div class="form-group flex-c4">
        <label>{{ localize "ARSDD.QualityMagie" }}</label>
        <input type="text" name="system.physicalItem.quality.magie" value="{{system.physicalItem.quality.magie}}" data-dtype="Number"/>    
    </div>
</div>
<div class="form-group" >
    <label>{{ localize "ARSDD.Material" }}</label>
    <input type="text" name="system.physicalItem.material" value="{{system.physicalItem.material}}"/>
</div>
